body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #ffffff;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* --------------------------------------HEADER----------------------------------------------------- */

.accent {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.header-logo {
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.address-list-link {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ------------------------------------------------HERO---------------------------------------------------------- */

.hero {
background-color: #2E2F42;
}
.hero-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}
.hero-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color:#4D5AE5 ;
}
/* -----------------------------------------------FEATURES----------------------------------------------------- */

.features-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.features-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* -------------------------------------------TEAM-------------------------------------------------------------- */
.team {
background-color: #F4F4FD;
}
.team-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
}

.team-list {}
.team-item {
background-color: #ffffff;
}
.team-img {}

.team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
}
.team-text {
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
/* ---------------------------------------------PORTFOLIO---------------------------------------------------- */
.portfolio {}

.portfolio-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
}
.portfolio-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* ---------------------------------------------FOOTER------------------------------------------------------- */
.footer {
background-color: #2E2F42
}
.footer-logo {
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.footer-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}